html
  head
    Title Cooking courses market-place
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    link(rel="stylesheet" href="/custom.css")
  body
    div(class="navbar-fixed")
      nav
        div(class="nav-wrapper")
          a(href="/" class="brand-logo" id="home-button") Home
          a(href="/" data-activates="mobile-demo" class="button-collapse") i(class="material-icons") menu
            ul(class="right hide-on-med-and-down")
              li
                a(href="login") Login
              li
                a(href="register") Register
              li
                a(href="dashboard") Profile
              li
                a(href="listings") Listings
            ul(class="side-nav" id="mobile-demo")
              li
                a(href="authentication") Login
              li
                a(href="register") Register
              li
                a(href="dashboard") Profile
              li
                a(href="Listings") Listings

  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")

  block content
