extends ./application.pug
block content
  h3 Dashboard
      ul
        if user.companyname
          li #{user.companyname} 
          p Location: #{user.location}
          p Cuisine: #{user.style} 
        else
          li #{user.username} 
          
