footer#contact.page-footer.default_color.scrollspy
  .container
    .row
      .col.l12.s12
        form.col.s12(action='/contact', method='post')
          .row#contactform
            .input-field.col.s12
              i.mdi-action-account-circle.prefix.white-text
              |
              input#icon_prefix.validate.white-text(name='name', type='text')
              |
              label.white-text(for='icon_prefix') First Name
            .input-field.col.s12
              i.mdi-communication-email.prefix.white-text
              |
              input#icon_email.validate.white-text(name='email', type='email')
              |
              label.white-text(for='icon_email') Email-id
            .input-field.col.s12
              i.mdi-editor-mode-edit.prefix.white-text
              textarea#icon_prefix2.materialize-textarea.white-text(name='message')
              |
              label.white-text(for='icon_prefix2') Message
            .col.offset-s7.s12
              button.btn.waves-effect.waves-light.red.darken-1(type='submit')
                | Submit
                i.mdi-content-send.right.white-text
      .col.s12
        h5.white-text Social
        ul
          li
            a.white-text(href='https://www.behance.net')
              i.small.fa.fa-behance-square.white-text
              |  Behance
          li
            a.white-text(href='https://www.facebook.com')
              i.small.fa.fa-facebook-square.white-text
              |  Facebook
          li
            a.white-text(href='https://github.com')
              i.small.fa.fa-github-square.white-text
              |  Github
          li
            a.white-text(href='https://www.linkedin.com')
              i.small.fa.fa-linkedin-square.white-text
              |  Linkedin
