extends ./application.pug
block content
  .div(class="header_wrapper")
    h1.slogan The Cooking Factory
    .div.searchbar.input-field.light
      form(action="/search" method="post")
        input(placeholder="Enter postcode to search cooking schools in your area" name="search" id="search" type="search" required)
        label(class="label-icon" for="search")
        i(class="material-icons" left) search
          i(class="material-icons") close
  .container
    .row
      .col.s12
        h3.center.header.text_h2
          | We offer the widest range of cooking schools in
          span.span_h2  The Netherlands.
          |  Organizing a cooking event for your company, a party, or something else?
          span.span_h2  The Cooking Factory
          |  will help you find it!
      .col.s12.m4.l4
        .center.promo.promo-example
          i.mdi-image-flash-on
          h5.promo-caption Find a cooking school
          p.light.center
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.
      .col.s12.m4.l4
        .center.promo.promo-example
          i.mdi-social-group
          h5.promo-caption How it works
          p.light.center
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      .col.s12.m4.l4
        .center.promo.promo-example
          i.mdi-hardware-desktop-windows
          h5.promo-caption Made easy
          p.light.center
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    .container
      h2.header.text_b.center Cooking schools
      .row
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='images/example1.jpeg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Example 1
                i.mdi-navigation-more-vert.right
              p
                a(href='show-1/1') View this school
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Cooking school 1
                i.mdi-navigation-close.right
              p
                | Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='images/example2.jpeg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Example 2
                i.mdi-navigation-more-vert.right
              p
                a(href='show-1/2') View this school
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Cooking school 2
                i.mdi-navigation-close.right
              p
                | Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='images/example3.jpeg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Example 3
                i.mdi-navigation-more-vert.right
              p
                a(href='show-1/3') View this school
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Cooking school 3
                i.mdi-navigation-close.right
              p
                | Here is some more information about this project that is only revealed once clicked on.

  .container
    h2.center.header.text_h2 Find the place for your cooking workshop!
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.


  include ./footer.pug
