extends ./application.pug
block content
  h3 Search results:
  if results
    each result in results
      ul
        li #{result.company} 
        li Location: #{result.location}
        li Cuisine: #{result.style} 
        img(src=result.locationurl, width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
        
  
