extends ./application.pug
block content
  h3 Search results:
  if results
    each result in results
      ul
        li #{result.companyname} 
        li Location: #{result.location}
        li Cuisine: #{result.style} 
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.6532947924916!2d4.846703615649256!3d52.37670637978734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e268dba5cc03%3A0x2b4650ec3fa07ca7!2sGriseldestraat%2C+Amsterdam!5e0!3m2!1snl!2snl!4v1489593119475" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.1067639314438!2d4.854772215648932!3d52.368484079785844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e272cba32bdb%3A0x2366960045c0d0da!2sAdmiralengracht+2-15%2C+1057+Amsterdam!5e0!3m2!1snl!2snl!4v1489593425950" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
  
