extends ./application.pug
block content
  h3.light(id="loginheader") Login
  div(class="row")
    form.light(id="login" class="col s6 z-depth-1 white lighten-4 row" action="/login" method="post")
      div(class="row")
        div(class="cardcontainer")
          div(class="col s6" id="inputs")
            label(for="username") Username
            input(placeholder="Username" name="username" id="username" type="text" class="validate")
            label(for="password") Password
            input(placeholder="Password" name="password" id="username" type="password" class="validate")
      button(id="loginbutton" class="btn" type="submit" name="action") Submit
