extends ./application.pug
block content
  .div(class="header_wrapper")
  h2.center.header.text_h2 Cooking school information
  ul  
    .col.s12.m7
    .card.horizontal
      .card-image
        img(src="/uploads/" +school.picture, width="300" height="225")
        .card-content.light
          li #{school.company}
          li Location: #{school.location}
          li Cuisine: #{school.style}
          li Description:
            p.light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    img(src=school.locationurl, width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
  
  include ./footer.pug
